li
  a(href='#') #{user.username}
li.dropdown
  a#dLabel(role="button", data-toggle="dropdown", href="#")
    span.glyphicon.glyphicon-user
    span.caret
  ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
    li(role='presentation')
      a#userSettings(role='menu-item', href='#settings') #{i18n.value("header.userSettings")}
li
  a(href='/logout') #{i18n.value("header.logout")}