extend ../../layout/defaultLayout
block params
  - title="Home"

block content
  h1 uhu! you are now logged-in #{user.firstName}
  script(data-main='/assets/js/home', src='/assets/webjars/requirejs/2.1.8/require.js')